{#
  This is master layout for other templates to extend
#}
<!DOCTYPE html>
{#
  The language code for the language you chose when you installed Craft
 #}
<html lang="{{ craft.app.language }}">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8"/>
    {#
      `siteName` is a global variable set in the Control Panel (Settings → Sites)
    #}
    <title>{{ siteName }}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" name="viewport">
    <meta content="origin-when-cross-origin" name="referrer">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    {#
      The Asset Rev plugin provides this `rev()` Twig function for cache-busting
      css and js files. It will return nothing when the webpack dev server is
      running because styles are then injected via js.
    #}
    {% set stylesheet = rev('main.css') %}
    {% if stylesheet %}
      <link rel="stylesheet" href="{{ rev('main.css') }}">
    {% endif %}

  </head>
  <body class="ltr">
    <header class="c-header absolute left-0 right-0 z-10">
      <nav class="container py-10 text-base md:text-xl font-inter" role="navigation" aria-label="Main">
        {#
          We grab the first URL segment as a way to identify whether or not a
          main navigation link should be active.
        #}
        {% set firstSegment = craft.app.request.getSegment(1) %}
  
        <ul class="flex items-center justify-center w-full mx-auto">
          <li class="w-1/2">
            <ul class="items-center justify-start hidden md:flex">
              <li class="mr-6">
                <a class="text-orange-100 transition duration-500 ease-in-out border-b border-orange-100 border-opacity-0 {{ firstSegment == '' ? 'hover:text-orange-100 hover:border-opacity-100' }}" href="{{ url('#activities') }}">Activities</a>
              </li>
              <li class="mr-6">
                <a class="text-orange-100 transition duration-500 ease-in-out border-b border-orange-100 border-opacity-0 {{ firstSegment == '' ? 'hover:text-orange-100 hover:border-opacity-100' }}" href="{{ url('#places') }}">Places</a>
              </li>
              <li class="mr-6">
                <a class="text-orange-100 transition duration-500 ease-in-out border-b border-orange-100 border-opacity-0 {{ firstSegment == '' ? 'hover:text-orange-100 hover:border-opacity-100' }}" href="{{ url('#packages') }}">Packages</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="text-orange-100" href="{{ siteUrl }}">
              <span class="sr-only">Blockout</span>
              {{ svg('@webroot/uploads/branchout-logo.svg')|attr({ class: 'c-header__logo h-12 w-auto md:h-20 text-gray-900' }) }}
            </a>
          </li>
          <li class="w-1/2">
            <ul class="items-center justify-end hidden md:flex">
              <li class="ml-6">
                <a class="text-orange-100 transition duration-500 ease-in-out border-b border-orange-100 border-opacity-0 {{ firstSegment == '' ? 'hover:text-orange-100 hover:border-opacity-100' }}" href="{{ url('#about') }}">About Us</a>
              </li>
              <li class="ml-6">
                <a class="text-orange-100 transition duration-500 ease-in-out border-b border-orange-100 border-opacity-0 {{ firstSegment == '' ? 'hover:text-orange-100 hover:border-opacity-100' }}" href="{{ url('#faq') }}">FAQ</a>
              </li>
              <li class="ml-6">
                <a class="text-orange-100 transition duration-500 ease-in-out border-b border-orange-100 border-opacity-0 {{ firstSegment == '' ? 'hover:text-orange-100 hover:border-opacity-100' }}" href="{{ url('#blog') }}">Blog</a>
              </li>
              <li class="ml-6">
                <a class="text-orange-100 transition duration-500 ease-in-out border-b border-orange-100 border-opacity-0 {{ firstSegment == '' ? 'hover:text-orange-100 hover:border-opacity-100' }}" href="{{ url('#contact') }}">Contact</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    <div class="container">
      {% block content %}
        This content is replaced by the content block in the template
        that extends this layout file.
      {% endblock %}
    </div>

    <footer class="c-footer">
      <div class="container bg-cover bg-top pt-20 md:pt-32 bg-orange-100" style="background-image: url({{ dataUrl('@webroot/uploads/branchout-jaggeddivider.svg') }});">

        <ul class="flex items-center justify-center w-full mx-auto leading-relaxed">
          <li class="w-1/2">
            <ul class="items-start justify-start hidden md:flex flex-col text-left">
              <li class="mr-6">
                <a class="text-orange-100 transition duration-500 ease-in-out border-b border-orange-100 border-opacity-0 text-left text-base {{ firstSegment == '' ? 'hover:text-orange-100 hover:border-opacity-100' }}" href="{{ url('#Contact') }}">Contact Us</a>
              </li>
              <li class="mr-6">
                <a class="text-orange-100 transition duration-500 ease-in-out border-b border-orange-100 border-opacity-0 text-left text-base {{ firstSegment == '' ? 'hover:text-orange-100 hover:border-opacity-100' }}" href="{{ url('#Instagram') }}">Instagram</a>
                <a class="text-orange-100 transition duration-500 ease-in-out border-b border-orange-100 border-opacity-0 text-left text-base {{ firstSegment == '' ? 'hover:text-orange-100 hover:border-opacity-100' }}" href="{{ url('#Facebook') }}">Facebook</a>
              </li>
              <li class="mr-6">
                <a class="text-orange-100 transition duration-500 ease-in-out border-b border-orange-100 border-opacity-0 text-left text-base {{ firstSegment == '' ? 'hover:text-orange-100 hover:border-opacity-100' }}" href="mailto: andyzack@gmail.com">Email Us</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="text-orange-100" href="{{ siteUrl }}">
              <span class="sr-only">Blockout</span>
              {{ svg('@webroot/uploads/branchout-logo.svg')|attr({ class: 'c-header__logo h-8 w-auto md:h-20 text-gray-900' }) }}
            </a>
          </li>
          <li class="w-1/2">
            <ul class="items-end justify-end hidden md:flex">
              <li class="ml-6">
                <p class="text-orange-100 transition duration-500 ease-in-out border-b border-orange-100 border-opacity-0 text-right  text-base">
                  Level 1, 387 Clarendon Street <br>
                  South Australia <br>
                  VIC, 3205 AUS <br>
                </p>
              </li>
            </ul>
          </li>
        </ul>

        <div class="text-orange-100 bg-black uppercase font-sourcecode py-12 text-xs">
          &copy; {{ now | date('Y') }} Branch Out. Website by <a href="http://www.spicyweb.com.au/" class="text-orange-100 transition duration-500 ease-in-out border-b border-orange-100 border-opacity-0 {{ firstSegment == '' ? 'hover:text-orange-100 hover:border-opacity-100' }}" target="_blank">Spicy Web</a>
        </div>
      </div>
    </footer>

    {#
      As in the <head> section above, the Asset Rev plugin provides the `rev()`
      function to cache-bust the js file. Unlike the CSS <link> tag in the <head>,
      this works just fine with the webpack dev server. See the `/config/assetrev.php`
      file to see how it is configured.
    #}
    <script src="{{ rev('main.js') }}"></script>
  </body>
</html>
