/*
  These styles are intended to be demonstrative more than prescriptive.

  Most styles have been implemented in templates with Tailwind CSS utility
  classes. Styles here demonstrate:

  1. How the Body Content field Matrix blocks have styles in separate files
  2. How to use the Tailwind CSS `@apply` directive to create styles from
     utility class names
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
@import 'embed';
@import 'layout';
@import 'richtext';
@import 'image';
@import 'quote';
@import 'typography';
@import '_plugins/swiper-carousel';
@import '_animations/tagline';

/* These styles will not be purged */
.swiper-pagination-bullet { /* ... */ }

.c-toggle-button {

  &__open {
    display: block;
  }

  &__close {
    display: none;
  }
}

.open {
  .c-toggle-button__open {
    display: none;
  }
  .c-toggle-button__close {
    display: block;
  }
}

.open + .c-header__left-menu {
  width: auto;
  padding: 1rem;
}

