
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin swiper-pagination {
  .swiper-pagination {    
    &-bullet {
      background: $orange-100;
      height: 12px;
      width: 12px;
      opacity: 1;
      
      &-active {
        background: $orange-600;
      }
    }
  }
}

.container {
  @include swiper-pagination;
}